*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/site/
Tutorials/.ipynb_checkpoints
src/examples/**/*.asy
src/examples/**/*.png
src/examples/**/*.csv
src/examples/**/*.tex
src/examples/**/*.pdf
src/examples/**/*.mp4
src/examples/**/*.jld2
docs/src/tutorials/*.md
.vscode
examples/Total_Variation/S2_TV
examples/Total_Variation/Hn_TV
examples/Total_Variation/S1_TV
