*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/site/
Tutorials/.ipynb_checkpoints
.vscode
Manifest.toml
*.DS_Store
docs/src/contributing.md
coverage

/.quarto/
tutorials/*.ipynb
tutorials/*_files/*
tutorials/_freeze
tutorials/img
docs/src/tutorials/*/
docs/src/tutorials/*.md
docs/.CondaPkg
docs/src/tutorials/getstarted_files
docs/src/tutorials/*.html
docs/src/changelog.md
docs/styles/Google
tutorials/LocalPreferences.toml
temp
