*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/site/
Tutorials/.ipynb_checkpoints
.vscode
Manifest.toml
*.DS_Store
docs/src/contributing.md
coverage

/.quarto/
tutorials/*.ipynb
tutorials/*_files/*
tutorials/_freeze
